.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  margin-left: auto;
  margin-right: auto;
  padding-left: .75rem;
  padding-left: var(--bs-gutter-x, .75rem);
  padding-right: .75rem;
  padding-right: var(--bs-gutter-x, .75rem);
  width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}

@media (min-width: 768px) {
  .flex-md-row {
      flex-direction: row !important;
  }
}
.py-4 {
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  /* margin-left: calc(var(--bs-gutter-x) / -2); */
  /* margin-right: calc(var(--bs-gutter-x) / -2); */
  margin-top: calc(var(--bs-gutter-y)* -1);
}

@media (min-width: 768px) {
  .col-md-8 {
      flex: 0 0 auto;
      width: 66.66667%;
  }
}

.find-booking .left .contact-info {
  background: #fff;
  border: .5px solid #d5d5d5;
  border-radius: 10px;
  box-sizing: border-box;
}

.p-4 {
  padding: 1.5rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}

.find-booking .left .contact-info .heading {
  border-bottom: .5px solid #d5d5d5;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.heading .tieude {
  color: #e01600;
}

.fw-bold {
  font-weight: 700 !important;
}

h5 {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.find-booking .left .contact-info .label {
  color: #9a9a9a;
  margin-bottom: 5px;
}

.find-booking .left .contact-info .info {
  font-weight: 700;
}
p {
  margin-bottom: 1rem;
  margin-top: 0;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .col-md-3 {
      flex: 0 0 auto;
      width: 25%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
      flex: 0 0 auto;
      width: 33.33333%;
  }
}

.find-booking .left .booking-detail {
  background: #fff;
  border: .5px solid #d5d5d5;
  border-radius: 10px;
  box-sizing: border-box;
}

.find-booking .left .booking-detail .item {
  padding: 1rem .5rem;
}

.find-booking .left .booking-detail .heading {
  border-bottom: .5px solid #d5d5d5;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.p-4 {
  padding: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.find-booking .left .booking-detail .item {
  padding: 1rem .5rem;
}

.find-booking .left .booking-detail .item .label {
  font-weight: 700;
}

@media (min-width: 768px) {
  .col-md-9 {
      flex: 0 0 auto;
      width: 75%;
  }
}

.text-primary {
  color: #e01600 !important;
}

.booking-detail .btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #2d4271;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .275rem .75rem;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
}

.booking-detail .btn-primary {
  background-color: #e01600;
  border-color: #e01600;
  color: #fff;
}


.find-booking .right .group-checkout {
  background: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
}

.find-booking .right .group-checkout .heading {
  border-bottom: .5px solid #d5d5d5;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.find-booking .right .group-checkout .product {
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.find-booking .right .group-checkout .product .product-image {
  width: 100px;
}

.find-booking .right .group-checkout .product .product-image img {
  width: 100%;
}

.img-fluid, .img-thumbnail {
  height: auto;
  max-width: 100%;
}

.find-booking .right .group-checkout .product .product-content {
  padding-left: 13px;
  width: calc(100% - 100px);
}

.find-booking .right .group-checkout .product .product-content .title {
  color: #2d4271;
  font-weight: 700;
  line-height: 19px;
}

.find-booking .right .group-checkout .detail {
  margin-bottom: 16px;
}

.find-booking .right .group-checkout .detail .item {
  padding: .5rem;
  justify-content: space-between;
}

.text-end {
  text-align: right !important;
}

.find-booking .passenger-list {
  background: #fff;
  border: .5px solid #d5d5d5;
  border-radius: 10px;
  box-sizing: border-box;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}

tbody, td, tfoot, th, thead, tr {
  border: 0 solid;
  border-color: inherit;
}

.table>thead {
  vertical-align: bottom;
}

.booking-table thead {
  background-color: #ebebeb;
}

.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table>:not(:last-child)>:last-child>* {
  border-bottom-color: currentColor;
}



tbody, td, tfoot, th, thead, tr {
  border: 0 solid;
  border-color: inherit;
}

.table>tbody {
  vertical-align: inherit;
}
